Strings

In [20]:
#slicing
text = "sample text"
print(text[0:6])
print(text[0:6:2])
print(text[7:11])
print(text[-4:])

sample
sml
text
text

In [21]:
#f-strings
name = "Michael"
age = 19
print(f"My name is {name} and I am {age} years old.")

My name is Michael and I am 19 years old.

In [24]:
#.format()
template = "My name is {} and I am {} years old."
print(template.format("Michael", 19))

My name is Michael and I am 19 years old.

In [ ]:
#other string functions
text = "hello world"
print(text.upper())    # HELLO WORLD
print(text.lower())    # hello world
print(text.title())    # Hello World
print(text.replace("world", "Python"))  # hello Python
print(text.split())    # ['hello', 'world']

HELLO WORLD
hello world
Hello World
hello Python
['hello', 'world']

In [ ]:
#concatanation
first = "Michael"
second = "Pretorius"
name = first + " " + second
print(name)

Michael Pretorius

In [ ]:
#.split()
text = "apple,banana,orange"
print(text.split(","))  # Output: ['apple', 'banana', 'orange']

text2 = "one-two-three"
print(text2.split("-"))  # Output: ['one', 'two', 'three']

['apple', 'banana', 'orange']
['one', 'two', 'three']

In [31]:
#length of string
text = "Python"
print(len(text))

6

In [33]:
#escape characters
print("He said \"Hello, World!\"")
print("hello\nworld")

He said "Hello, World!"
hello
world

In [38]:
#membership
text = "hello world"
print("hello" in text)
print("Mihael" not in text)

True
True

In [ ]:
#more .spit() examples
fruits = "apple-banana-orange"
print(fruits.split("-"))

['apple', 'banana', 'orange']

In [41]:
#strip whitespace
text = "     hello world   "
print(text.strip())

hello world

In [ ]:
git add .